@import "./base.css";
@tailwind base;

@import "./components.css";
@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "BaeMin";
  font-weight: 200;
  src: url("/fonts/BMDOHYEON.otf") format("truetype");
}
